.categoryName{
	cursor: pointer;
	text-align: center;
}
.categoryName a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.rankingNew a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}