<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- ================== USER MODULE ================== -->
	<bean id="userAction" class="com.framgia.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	
	<bean id="loginAction" class="com.framgia.action.LoginAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	
	<bean id="categoryAction" class="com.framgia.action.CategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService" />
		<property name="newsService" ref="newsService" />
	</bean>
	
	<bean id="newsAction" class="com.framgia.action.NewsAction" scope="prototype">
		<property name="newsService" ref="newsService" />
	</bean>
</beans>